body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

/* Hero section */
.hero-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}
  
header {
    display: flex;
    padding: 16px 144px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}
  
ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
  
a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}
  
.links {
    margin-left: auto;
}
  
.hero {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0 144px;
    margin: 124px 0;
}

.hero-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;

}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    background-color: grey;
}

/* Info section */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 144px;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin: 32px;
}

.card-container {
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  
.card-image {
    height: 148px;
    width: 148px;
    border: 4px solid #3882f6;
    border-radius: 18px;
}

.card-text {
    color: #1f2937;
    font-size: 16px;
    text-align: center;
    width: 148px;
}

/* Quote section */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 96px 224px;
}

.quote-text {
    color: #1f2937;
    font-size: 32px;
    font-weight: 300;
}

.author {
    color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

/* Call to action section */
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #3882f6;
    margin: 96px 172px;
    padding: 40px 96px;
}

.action-content h2{
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}

.action-content p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 18px;
    background-color: #1f2937;
    padding: 48px 0;
}